.new-order-container {
  width: 70%;
}

.date-time-input {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  margin-top: 0 !important;
}

h5 {
  padding-top: 16px;
}

.order-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 55px;
}

.order-btn-cancel {
  margin-right: 16px;
}
