.no-match {
  background: url("/img/404.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 7rem 0 0 0;
  min-height: calc(100vh - 70px);
  margin-top: 1px;
}

.m-button {
  font-size: 100%;
}
