.no-match {
  background: url("/img/404.png") no-repeat center center fixed;
  background-size: cover;
  padding: 7rem 0 0 0;
  min-height: calc(100vh - 70px);
  margin-top: 1px;
}

.m-button {
  font-size: 100%;
}

.m-button:hover{
  color: white !important;
  text-shadow: 1px 0 white;
}

.m-button:active{
  color: black !important;
  text-shadow: 1px 0 black;
}
